### Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.

In [5]:
email = input()
x = email.index ("@")
print(email [x+1:len(email)-4],end='')

ankit@google.com
google

### Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

In [6]:
items = input("Input comma-separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordswithout,hello,bag,world
bag,hello,without,world

### Question 3:
Create your own Jupyter Notebook for Sets. Reference link:

In [7]:
# set is denoted by { } it is unorder and without index so it will be printed randmomly in any order

s1 = {"apple", "mango", "orange"}
print(s1)

{'mango', 'apple', 'orange'}

In [8]:
# set will not print duplicate items in output
s1 = {"apple", "mango", "orange" , "apple"}
print(s1)

{'mango', 'apple', 'orange'}

In [9]:
s1 = {"apple", "mango", "orange"}
for i in s1:
    print(i)

mango
apple
orange

In [10]:
# ADD function in sets
s1 = {"apple", "mango", "orange"}
s1.add("banana")
s1

{'apple', 'banana', 'mango', 'orange'}

In [11]:
# update function for multiple items 

s1 = {"apple", "mango", "orange"}
s1.update (["banana", "watermelon"])
s1

{'apple', 'banana', 'mango', 'orange', 'watermelon'}

In [12]:
# lenth of Sets

s1 = {"apple", "mango", "orange"}
print(len(s1))

3

In [14]:
# removing any itemes
s1 = {"apple", "mango", "orange"}
print(s1.remove ("mango"))
s1

None

{'apple', 'orange'}

In [18]:
s1 = {"apple", "mango", "orange"}
print(s1.pop())
s1

mango

{'apple', 'orange'}

In [19]:
# join function 
s1 = {"apple", "mango", "orange"}
s2 = {"banana", "grapes"}
s3 = s1.union(s2)
s3

{'apple', 'banana', 'grapes', 'mango', 'orange'}

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

In [24]:
list_num = (1,2,3,4,6)
def find_missing_number(list_num): 
    n = len(list_num) 
    orig_sum = (n*(n+1))>>1 
    new_sum = sum(list_num) 
    missing_number = (orig_sum-new_sum) 
    return missing_number 
missing_number

NameError: name 'missing_number' is not defined

### Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

In [33]:
# initializing list 
l = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155] 
print ("The original list is : " +  str(l)) 
  
# using list comprehension + enumerate() 
# to remove duplicated  
# from list  
res = [i for n, i in enumerate(l) if i not in l[:n]] 
  
# printing list after removal  
print ("The list after removing duplicates : " + str(res))

The original list is : [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
The list after removing duplicates : [12, 24, 35, 88, 120, 155]